.bookstoreHeader {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookContent {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: cornflowerblue;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.bookContentHead {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.bookContentMain {
    display: flex;
    flex-direction: column;
}

.PriceLikes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.commentInput {
    display: flex;
    flex-direction: row;
    max-width: 24px;
    max-height: 24px;
}

.commentsContainer {
    margin-top: 16px;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 0;
}

.comment {
    display: flex;
    gap: 12px;

}

.commentBox {
    flex: 1;
    overflow-y: auto;
    padding-right: 6px;
    margin: 0;
    padding-left: 0;
}