.bookstoreHeader {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookContent {
    min-width: 500px;
    background-color: cornflowerblue;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.bookContentHead {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.bookContentMain {
    display: flex;
    flex-direction: column;
}

.PriceLikes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.commentsContainer {
    height: 200px;
    width: 200px;
}